.study-line-compare {
	height: 100%;
	:deep(.el-card) {
    height: 100%;
	}
	:deep(.el-card__body) {
    height: 100%;
	}
	.compare-layout{
		display: flex;
		transition: none;
		height: 100%;
		gap: 20px;
    overflow: hidden;
		&:not(.isShowTree){
			.compare-layout-chart{
				width: calc(100% - 40px);
			}
			.story-line-tree {
				width: 20px;
				padding: 0;
				overflow: hidden;
			}
		}
	}
	.compare-layout-chart{
		width: calc(100% - 340px);
		height: 100%;
	}
	.story-line-tree {
		width: 320px;
		overflow: hidden;
		position: relative;
		padding: 0;
		display: flex;
    flex-direction: column;
		.select-list{
			padding: 15px 10px 0;
			.select-item{
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				margin-bottom: 10px;
				.label{
					font-size: 12px;
				}
			}
		}
		.story-line-tree-scroll{
			height: 100%;
			padding: 15px 10px;
			overflow: auto;
		}
	}
}