$text-color: #4a4a4a;

.common-title {
  margin-bottom: 18px;
  font-size: 16px;
  color: $text-color;
  font-weight: bold;
}

.common-card {
  padding: 20px 30px;
  border-radius: 16px;
  background-color: #fff;
	border: 1px solid #B2B4B4
}

.common-table.el-table{
  height: 100%;
  .el-table__header-wrapper{
    border: 1px solid #cae4f1;
  }
  .el-table__header{
    th {
      &.el-table__cell{
        background: #E6F7FF;
        // background: #ccd7e0;
        font-size: 12px;
        height: 30px;
        padding: 0;
        text-align: center;
        border-right: 1px solid #cae4f1;
        border-bottom: 1px solid #cae4f1;
        border-top: 1px solid #cae4f1;
        &:last-child{
          border-right: none;
        }
      }
    }
  }
  .el-scrollbar__wrap {
    border: 1px solid #eaeaf2;
    border-top: none;
  }
  .el-table__row {
    td {
      padding: 0;
    }
    .cell {
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 12px;
    }
  }
}

.text-btn {
  cursor: pointer;
  color: #20a6fc;
}

.common-form{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	.el-input{
		width: 100%!important;
	}
}

::-webkit-scrollbar {
  width: 4px; /* 设置滚动条的宽度 */
	height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #20a6fc; /* 滑块的背景色 */
  border-radius: 5px; /* 滑块的圆角 */
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.common-expand-icon{
	cursor: pointer;
	width: 20px;
	padding: 10px 0;
	background: #830051;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: 9;
}