.el-input{
  height: 30px;
}

.el-button.el-button--default {
  padding: 0 20px;
  height: 30px;
  font-size: 12px;
  border-radius: 20px;
  &:hover{
    background: #20a6fc;
    color: #fff;
  }
}

.el-card__body {
  --el-card-padding: 25px 20px;
}
.el-select .el-select__wrapper{
	min-height: 30px;
}
.el-select--small .el-select__wrapper {
  min-height: 30px!important;
  line-height: 30px!important;
}
.el-date-editor.el-input {
  height: 30px!important;;
  width: 100%!important;;
}
.el-dialog__header{
	border-bottom: 1px solid #ccc;
}

.el-dialog{
	max-height: 80%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	.el-dialog__body{
		padding: 10px 0;
		overflow: auto;
	}
}

.el-input-number.el-input-number--default{
	width: 100%;
	.el-input__inner{
		text-align: left;
	}
}

.el-switch{
	.el-switch__core{
		border: 1px solid #8A8E8E!important;
	}
	.el-switch__core .el-switch__action{
		background: #830051;
	}
}
